#map {
  background-color: grey;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  text-align: start;
  cursor: pointer;
}

.point {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 1;
}